*{
  margin: 0;
  padding: 0;
  
}
 
.h2{
  
    text-align: center;
    color: #4a5966;
    font-size: 40px;
    font-family: 'Francois One', sans-serif;

}
p{
  text-align: center
}
.card-title{
  text-align: center
}
/* .item #bimo{
  width: 110px; height: 100px;
  margin-top: 20px;
  margin-left: 75px;
}
.item #risa{
  width: 130px; height: 110px;
  margin-top: 20px;
  margin-left: 75px;
}
.item #audi{
  width: 130px; height: 120px;
  margin-top: 10px;
  margin-left: 75px;
}
.item #zuama{
  width: 120px; height: 100px;
  margin-top: 20px;
  margin-left: 75px;
}
.item #kiara{
  width: 130px; height: 110px;
  margin-top: 20px;
  margin-left: 75px;
}
.item #sibro{
  width: 120px; height: 110px;
  margin-top: 20px;
  margin-left: 75px;
} */


#desc
{
  color: #e4a383;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
}

.card-deck .card{
  background-color: rgb(253, 253, 253);
  border: 1px solid white;
}

.card-text{
  color: #9aa0a6;
}

#risa h4{
  margin-top: -20px;
}
#risa #desc{
  margin-top: -10px;
}
#bimo h4{
  margin-top: -10px;
}
#bimo #desc{
  margin-top: -10px;
}
#audi h4{
  margin-top: -20px;
}
#audi #desc{
  margin-top: -10px;
}
#zuama h4{
  margin-top: -10px;
}
#zuama #desc{
  margin-top: -10px;
}
#kiara h4{
  margin-top: -20px;
}
#kiara #desc{
  margin-top: -10px;
}
#sibro h4{
  margin-top: -20px;
}
#sibro #desc{
  margin-top: -10px;
}